<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="./netty-rpc" />

    <appender name="CONSUMER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--每天生成一个文件 %i表示序号 从0开始-->
            <fileNamePattern>${LOG_HOME}/consumer-%d{yyyy-MM-dd}.log.%i</fileNamePattern>
            <!--每个文件的大小限制-->
            <MaxFileSize>100MB</MaxFileSize>
            <!--最多保留10天的文件，10天之前的将被清除-->
            <MaxHistory>30</MaxHistory>
            <!--该滚动策略日志的总大小，超过的日志会被清除-->
            <totalSizeCap>1GB</totalSizeCap>
            <!--启动时清理日志文件  此项置灰清理超过保留天数的  也会清理超过总大小的-->
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="PROVIDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--每天生成一个文件 %i表示序号 从0开始-->
            <fileNamePattern>${LOG_HOME}/provider-%d{yyyy-MM-dd}.log.%i</fileNamePattern>
            <!--每个文件的大小限制-->
            <MaxFileSize>100MB</MaxFileSize>
            <!--最多保留10天的文件，10天之前的将被清除-->
            <MaxHistory>30</MaxHistory>
            <!--该滚动策略日志的总大小，超过的日志会被清除-->
            <totalSizeCap>1GB</totalSizeCap>
            <!--启动时清理日志文件  此项置灰清理超过保留天数的  也会清理超过总大小的-->
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="HEART_BEAT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--每天生成一个文件 %i表示序号 从0开始-->
            <fileNamePattern>${LOG_HOME}/heart-beat-%d{yyyy-MM-dd}.log.%i</fileNamePattern>
            <!--每个文件的大小限制-->
            <MaxFileSize>100MB</MaxFileSize>
            <!--最多保留10天的文件，10天之前的将被清除-->
            <MaxHistory>30</MaxHistory>
            <!--该滚动策略日志的总大小，超过的日志会被清除-->
            <totalSizeCap>1GB</totalSizeCap>
            <!--启动时清理日志文件  此项置灰清理超过保留天数的  也会清理超过总大小的-->
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.xiaobai.nettyrpc.consumer.config" level="INFO" additivity="false">
        <appender-ref ref="CONSUMER" />
    </logger>

    <logger name="com.xiaobai.nettyrpc.provider.config" level="INFO" additivity="false">
        <appender-ref ref="PROVIDER" />
    </logger>

    <logger name="com.xiaobai.nettyrpc.consumer.heartbeat" level="INFO" additivity="false">
        <appender-ref ref="HEART_BEAT" />
    </logger>

    <!--默认配置-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>